<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<appSettings>
    <add key="pingdom:BaseUrl" value="https://api.pingdom.com/api/2.0/" />
    <add key="pingdom:AppKey" value="" />
    <add key="pingdom:UserName" value="" />
    <add key="pingdom:Password" value="" />
</appSettings>
</configuration>